
    <h1>Personajes:</h1>

    <div *ngFor="let character of datos">
        <h4 class="card-title title"> {{ character.name}} </h4>
        <img src="{{ character.image }}">
        <p>Especie {{ character.species}}</p>
        <div class="btn-group btn-group-toggle">
            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" ngbButton> Ver personaje
            </label>
          </div>
    </div>
